.experiments-screen {
    aspect-ratio: 1;
    height: 48px;
    position: relative;
    width: 48px;
}

.experiments-screen .vector {
    aspect-ratio: 0.96;
    height: 36px;
    left: 14.07%;
    position: absolute;
    top: calc(50.00% - 18px);
    width: 71.87%;
}

