.edit-screen {
    aspect-ratio: 1;
    height: 48px;
    position: relative;
    width: 48px;
}

.edit-screen .vector {
    height: 75.01%;
    left: 14.06%;
    position: absolute;
    top: 10.93%;
    width: 75.00%;
}

