.algorithms-screen {
    aspect-ratio: 1;
    height: 48px;
    position: relative;
    width: 48px;
}

.algorithms-screen .vector {
    height: 71.88%;
    left: 4.69%;
    position: absolute;
    top: 14.06%;
    width: 90.62%;
}
