.edit-modal-blur {
    -webkit-backdrop-filter: blur(20px) brightness(100%);
    backdrop-filter: blur(20px) brightness(100%);
    background-color: #000000;
    height: 100vh;
    left: 0;
    opacity: 0.6;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.edit-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 787px;
    height: 599px;
}

.edit-modal-background {
    background-color: var(--background);
    border: 2.42px solid;
    border-color: var(--border);
    height: 599px;
    left: 0;
    position: absolute;
    top: 0;
    width: 787px;
}

.edit-modal-description-input {
    display: flex;
    flex-direction: column;
    height: 289px;
    left: 18px;
    position: absolute;
    top: 203px;
    width: 400px;
}

.edit-modal-text-wrapper-7 {
    color: #ffffff;
    font-family: var(--heading-3-font-family);
    font-size: var(--heading-3-font-size);
    font-style: var(--heading-3-font-style);
    font-weight: var(--heading-3-font-weight);
    height: 39px;
    letter-spacing: var(--heading-3-letter-spacing);
    line-height: var(--heading-3-line-height);
    width: 249px;
}

.edit-modal-input {
    background-color: #282828;
    border: 1px solid;
    border-color: var(--border);
    display: flex;
    height: 250px;
    width: 400px;
}

.edit-modal-textarea {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: var(--parapgraph-font-family);
    font-size: var(--parapgraph-font-size);
    font-style: var(--parapgraph-font-style);
    font-weight: var(--parapgraph-font-weight);
    letter-spacing: var(--parapgraph-letter-spacing);
    line-height: var(--parapgraph-line-height);
    margin-left: 6px;
    margin-top: 9px;
    padding: 0;
    resize: none;
    width: 378px;
    height: 232px;
    outline: none;
}

.edit-modal-textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.edit-modal-path-input {
    display: flex;
    flex-direction: column;
    height: 79px;
    left: 18px;
    position: absolute;
    top: 100px;
    width: 400px;
}

.edit-modal-input-2 {
    height: 40px;
    position: relative;
    width: 249px;
}

.edit-modal-input-3 {
    background-color: #282828;
    border: 1px solid;
    border-color: var(--border);
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 400px;
}

.edit-modal-input-field {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: var(--parapgraph-font-family);
    font-size: var(--parapgraph-font-size);
    font-style: var(--parapgraph-font-style);
    font-weight: var(--parapgraph-font-weight);
    height: 100%;
    left: 6px;
    letter-spacing: var(--parapgraph-letter-spacing);
    line-height: var(--parapgraph-line-height);
    outline: none;
    padding: 0;
    position: absolute;
    top: 0;
    width: 388px;
}

.edit-modal-input-field::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.edit-modal-header {
    background-color: transparent;
    height: 61px;
    left: 18px;
    position: absolute;
    top: 8px;
    width: 764px;
}

.edit-modal-cross-instance {
    aspect-ratio: 1 !important;
    cursor: pointer;
    height: 48px !important;
    left: 716px !important;
    position: absolute !important;
    top: 2px !important;
    width: 48px !important;
}

.edit-modal-line-3 {
    height: 2px;
    left: 0;
    position: absolute;
    top: 53px;
    width: 225px;
}

.edit-modal-text-wrapper-9 {
    color: #ebebeb;
    font-family: var(--heading-2-font-family);
    font-size: var(--heading-2-font-size);
    font-style: var(--heading-2-font-style);
    font-weight: var(--heading-2-font-weight);
    left: 0;
    letter-spacing: var(--heading-2-letter-spacing);
    line-height: var(--heading-2-line-height);
    position: absolute;
    top: 2px;
    width: 235px;
}

.edit-modal-delete-button-instance {
    display: flex !important;
    left: 644px !important;
    position: absolute !important;
    top: 537px !important;
}

