.metrics-screen {
    aspect-ratio: 1;
    height: 48px;
    position: relative;
    width: 48px;
}

.metrics-screen .vector {
    height: 84.39%;
    left: 7.80%;
    position: absolute;
    top: 7.80%;
    width: 84.38%;
}

