.delete-button {
    all: unset;
    aspect-ratio: 3;
    background-color: var(--background-dark);
    box-sizing: border-box;
    height: 50px;
    left: 20px;
    position: relative;
    top: 20px;
    width: 150px;
}

.delete-button .text-wrapper {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-family: "Montserrat-Regular", "Montserrat", Helvetica, sans-serif;
    font-size: 34.3px;
    font-weight: 400;
    height: 42px;
    justify-content: center;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
}

.delete-button:hover:not(:disabled) {
    background-color: var(--danger);
    left: 190px;
}

.delete-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

